.resume-container {
  width: 100%;
  height: 100%;
  padding: clamp(20px, 5vw, 40px);
}

.main-area {
  flex-wrap: wrap;
  display: flex;
  gap: clamp(10px, 5vw, 40px);
  overflow-y: auto;
  min-width: 0;
  background-color: #f6f7f9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.live-view-wrapper,
section {
  background-color: #fafafa;
  flex: 1 1 300px;
  min-width: 300px;
  box-sizing: border-box;
}

.live-view-wrapper {
  flex: 2;
}
