h3 {
  color: #646cff;
}

section {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: clamp(20px, 5vw, 40px);
  border-radius: 13px;
}

form {
  padding: 20px 0;
}

form div {
  display: flex;
  flex-direction: column;
}
