.live-view-page {
  background-color: #fafafa;
  aspect-ratio: 8.5/11;
  max-width: 8.5in;
  width: 100%;
  padding: clamp(10px, 4vw, 50px);
  box-sizing: border-box;
  box-shadow: 0 0px 20px #cbd4d8;
  font-family: Arial, Helvetica, sans-serif;
  p {
    font-size: 1rem;
  }
}

.contact-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  flex-wrap: wrap;
}

h4 {
  font-size: clamp(1.5rem, 5vw, 1.8rem);
  border-bottom: 2px solid black;
}

h5 {
  font-size: clamp(1.2rem, 3vw, 1.4rem);
}

.resume-name {
  border: none;
}

.resume-personal-details,
.resume-education,
.resume-work-experience,
.resume-projects,
.resume-skills,
.resume-achievements {
  margin-bottom: 20px;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.resume-details {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  flex-wrap: wrap;
  gap: 5px;
  p {
    font-size: 1rem;
  }
}

ul {
  padding-left: 30px;
  padding-top: 10px;
}

@media (max-width: 650px) {
}
