.live-view-page {
  background-color: #fafafa;
  aspect-ratio: 8.5/11;
  max-width: 8.5in;
  width: 100%;
  padding: clamp(10px, 5vw, 50px);
  box-sizing: border-box;
  box-shadow: 0 0px 20px #cbd4d8;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

h4 {
  font-size: 3cqw;
}

@media (max-width: 650px) {
  h4 {
    font-size: 6cqw;
  }
}
