nav {
  width: 100%;
  overflow: hidden;
}

.nav-wrapper {
  padding-top: 10px;
  width: 100%;
  display: flex;
  overflow-y: auto;
  justify-content: space-between;
  gap: 3px;
}

nav button {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  outline: none;
}

nav button:focus,
nav button:hover {
  outline: none;
  box-shadow: 0 0px 10px #33367a71;
  border-color: transparent;
}

.selected {
  background-color: #e5e5f0;
  color: #33377a;
}

@media (max-width: 1024px) {
  nav {
    width: calc(100vw - clamp(20px, 5vw, 40px));
  }
}
