nav {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.nav-wrapper {
  padding: 10px;
  width: 100%;
  display: flex;
  overflow-y: auto;
  justify-content: space-between;
  gap: 3px;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fafafa;
}

nav button {
  border-bottom: none;
  outline: none;
  scroll-snap-align: start;
  font-size: 1.2rem;
}

nav button:focus,
nav button:hover {
  outline: none;
  box-shadow: 0 0px 10px #33367a3f;
  border-color: transparent;
}

nav button:active {
  background-color: #f1f1f8;
  box-shadow: none;
}

.selected {
  background-color: #e5e5f0;
  color: #33377a;
}

.export {
  background-color: #646cff;
  color: white;
}

.export:hover {
  background-color: #858bff;
}

@media (max-width: 1024px) {
  nav {
    width: calc(100vw - clamp(20px, 5vw, 40px));
  }
}
