h3 {
  color: #646cff;
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: clamp(10vw, 20vw, 40vw);
  border: 2px solid black;
}

form {
  padding: 20px 0;
}

form div {
  display: flex;
  flex-direction: column;
}
